

.container-fluid{
    
  background:#F0641F;
    min-height: 30px;
}
.address{
color:white;
margin:5px 0;


}
.con_info{
display:inline;

}
.my_menu{
    margin-top: 20px;
    background-color:transparent;
    border: none;
}
.slider{
 background-color:transparent;   
}
.my_menu ul li:hover{
    background:#F0641F;
    
}
.my_menu ul li ul li{
   
    padding: 10px 0;
    
}
.logo{
 margin-top: 10px;
 padding-left:10px;  
}
.navbar{
    border: 0;
}
.dropdown-menu > li > a:hover{
    background:#F0641F;
    
}
.padsto{
    margin-top: 50px;
}
.course{
    background:#014EA0;
}
.course h1{
    text-align: center;
    color: #CEE6F6;
}
.img_box{
    margin: 10px;
}
.team_image img{
    border: 4px solid #397AB4;
    margin-top: 20px;
    border-radius: 50%;
}
.team h1{
    text-align: center;
}
.footer{
    margin-top: 30px;
    background: #333333;
    padding-top: 30px;
    color: white;
}

.name h1{
    color: #9D8E83;
    font-size: 24px;
    text-align: left;
}
.t_button{
    display: inline;
}
.footer_logo img{
    background: white;
}

.footer_links ul{
    list-style: none;
    
    
}

.footer_links ul li a{
    
    color: white;
    text-decoration: none;
    
}

.footer_links ul li a:hover{
    
    color:lightskyblue;
    
    
}